{% extends "base/base.html" %}

{% block body %}
<h2>Todo LIST</h2>
<a href="{% url 'todo_create' %}">Add New Todo</a>
<ul>
    {% for todo in todos %}
    <li>
        {{ todo.updated_at }}
        {{ todo.title }} - 
        {% if todo.completed %}
            <a href="{% url 'uncomplete_todo' todo.id %}">Completed</a>
        {% else %}
            <a href="{% url 'complete_todo' todo.id %}">Mark as Complete</a>
        {% endif %}
        <a href="{% url 'todo_update' todo.id %}">Edit</a>
        <a href="{% url 'todo_delete' todo.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
