/* static/todo/css/style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #3498db;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #3498db;
    margin: 0 5px;
}

a:hover {
    color: #2980b9;
}

.title_text {
    display: block;
    text-align: center;
}
